# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages used by Data Scientists
* List common libraries used by Data Scientists
* Learn how to make a table in Jupyter Notebooks
* Learn how to execute code in Jupyter Notebooks
* Learn how to use the move or create cell between existing cells

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Javascript
6. Julia
7. C++
8. Scala

Some of the commonly used libraries used by Data Scientists include:
1. SciKit-Learn
2. TensorFlow
3. NumPy
4. SciPy
5. Pandas
6. Matplotlib
7. PyTorch
8. Seaborn

| Data Science Tools | 
| ------------------ |
| Jupyter Notebooks | 
| RStudio's | 
| Apache Adoop |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Alexandre Teixeira